@font-face {
    font-family: 'Kriptoniano';
    src: url('../fonts/Kriptoniano-Regular.otf') format('truetype');
}
input[name = kripto] {
    font-family: 'Kriptoniano';
}
@keyframes moveImages {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(calc(- 100vw + 70px));
    }
}

.image-container{
   
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
    .image-container > .col-auto {
        animation: moveImages 10s linear infinite;
    }