@font-face {
    font-family: 'Kriptoniano';
    src: url('../fonts/Kriptoniano-Regular.otf') format('truetype');
}
input[name = kripto] {
    font-family: 'Kriptoniano';
}
@keyframes moveImages {
    0% {
        transform: translateX(100vw);
        
    }

    90% {
        transform: translateX(-5040px);
        
    }

    100% {
        transform: translateX(-100%);
        
    }
}

.image-container{
   
    display: flex;    
    overflow-x: hidden;
}
    .image-container > .col-auto {
        animation: moveImages 30s linear infinite;
    }

