@model Traductor.Models.TraductorViewModel

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/custom.css" />
<div class="text-center">
    <h1 class="display-4">Traductor a Kriptoniano</h1>
    <p>Learn about.</p>

    @using (Html.BeginForm("Traducir", "Traductor", FormMethod.Post))
    {
        <div class="mb-3">
            <textarea class="form-control" rows="3" name="texto" id="texto" placeholder="Texto a traducir" required maxlength="72"></textarea>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Traducir" />
        </div>
    }
    <script src="~/js/custom.js"></script>
</div>
